- location = location_map.location
.card.location-map{ 'data-id': location.slug }
  .card-block
    %h2.card-title
      - if location_map.show_order?
        %span.text-primary= "#{location_map.order+1}."
      = location.name
    - if location_map.location.rating && location_map.location.rating > 0
      %span.rating.tag.tag-success.current-rating{:href => "#"}
        = location_map.location.rating.to_i
        %i.fa.fa-spoon{"aria-hidden" => "true"}

  - if location.photo
    = render partial: 'photos/photo', object: location

  .card-block
    .card-text
      = raw markdown location.description

  .card-block
    .row
      .col-xs-6
        %b= location.name
        = render location.address

      .col-xs-6
        %p
          - location.maps.each do |map|
            %span.tag.tag-primary= map.short_title

          - location.areas.each do |a|
            - if a.locations_count > 1
              %span.tag.tag-info= a.name

        %p
          - location.location_social_sites.each do |lss|
            %a.btn.btn-outline-primary.btn-sm{ href: lss.url, target: '_blank' }
              %i.fa{ class: "fa-#{lss.social_site.slug}" }
    %p
      - if !location.review_url.blank?
        %a.btn.btn-primary{:href => location.review_url, target: '_blank' } Read Our Review
      - if !location.website.blank?
        %a.btn.btn-secondary{:href => location.website, target: '_blank' } Visit Website
      %a.btn.btn-secondary{:href => location.directions_url, target: '_blank' }
        %i.fa.fa-location-arrow{"aria-hidden" => "true"}
        Directions
