- content_for :title, "#{@map.title} - Forkful Orlando"
- content_for :description, @map.short_description

#map.container-fluid

.cards.cards--map.location--cards
  .card
    .card-block
      %h1.card-title= @map.title
    = render partial: 'photos/photo', object: @map
    .card-block= raw markdown @map.description

  = render partial: 'maps/location', collection: @map.location_posts

:javascript
  var maps = #{@map.to_json};

= javascript_include_tag 'map'
= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key=AIzaSyAq79_0A7y4hmyMhTYlSoEINNuR_dBmPZQ&callback=initMap', async: 'async',  defer: 'defer'
