#featured-post.content--featured-posts.featured--image.carousel.slide{ 'data-ride' => 'carousel' }
  %ol.carousel-indicators
    - @featured_posts.each do |post, index|
      %li{ 'data-target' => '#featured-post', 'data-slide-to' => index, class: (index == 0) ? 'active' : '' }

  .carousel-inner.text-left{ role: 'listbox' }
    = render partial: 'featured/post', collection: @featured_posts

  %a.left.carousel-control{ href: '#featured-post', role: 'button', 'data-slide' => 'prev' }
    %span.icon-prev{ 'aria-hidden' => 'true' }
    %span.sr-only Previous

  %a.right.carousel-control{ href: '#featured-post', role: 'button', 'data-slide' => 'next' }
    %span.icon-next{ 'aria-hidden' => 'true' }
    %span.sr-only Next


.content--first.content--meta
  .container
    .row
      .col-md-7
        %h3.header--underline Stay Up to Date
        %div
          %p
            What are you waiting for? Join our monthly newsletter for
            = succeed "," do
              %b exclusive Orlando deals
            the latest news and events.
          %form.form-inline.background--secondary.row.rounded.p-2
            %input#exampleInputEmail3.form-control.col-xs{:placeholder => "Enter email", :type => "email"}/
            %button.col-3.col-xs-12.btn.btn-primary.newsletter--submit.ml-2{:type => "submit"} Sign Up
          %p.text-muted
            On the fence about signing up? Check out
            = succeed "." do
              %a{:href => "#"} last months newsletter
      .col-md-4.offset-md-1.content-about
        %div
          %h3.header--underline.clearfix About Forkful
        .float-right.float-md-left.float-lg-right.ml-2
          %img.rounded{:alt => "", :src => "assets/about.png"}/
          %ul.list-inline.mt-2.ml-3.t-4
            %li.list-inline-item
              %a{:href => "#"}
                %i.fa.fa-twitter{"aria-hidden" => "true"}
            %li.list-inline-item
              %a{:href => "#"}
                %i.fa.fa-facebook{"aria-hidden" => "true"}
            %li.list-inline-item
              %a{:href => "#"}
                %i.fa.fa-instagram{"aria-hidden" => "true"}
            %li.list-inline-item
              %a{:href => "#"}
                %i.fa.fa-envelope{"aria-hidden" => "true"}
        %p
          Navigate the Central Florida food scene like a local. Join Marilyn and Adam as they explore Orlando one fork at a time.
          %a{:href => "#"} Read More


.content--news
  .container
    .row
      %h3.header--underline Latest News
      .card-columns
        = render partial: 'news/news', collection: @news
    %p.text-xs-right
      %a{:href => "#"}
        Read More News
        %i.fa.fa-arrow-right{"aria-hidden" => "true"}


.content--featured-article.background--secondary.my-3.py-3
  .container
    %h3.header--underline Featured Article
    = render partial: 'featured/article', object: @featured_articles
    %p.text-xs-right
      %a{:href => "#"}
        See All Featured Articles
        %i.fa.fa-arrow-right{"aria-hidden" => "true"}


.content--best-of
  .container
    .row.area--best
      .best.col-xs-12
        %h3.header--underline Best Of Orlando
        .card-deck
          = render partial: 'featured/best', collection: @bests
        %p.text-xs-right
          %a{:href => "#"}
            See All 23 Best of Orlando Lists
            %i.fa.fa-arrow-right{"aria-hidden" => "true"}


.content--reviews
  .container
    .row
      .col-12
        %h3.header--underline Recent Reviews
        .card-columns
          = render partial: 'featured/review', collection: @reviews
        %p.text-xs-right
          %a{:href => "#"}
            See All 76 Reviews
            %i.fa.fa-arrow-right{"aria-hidden" => "true"}


.content-instagram
  .container
    .row
      %h3.header--underline Instagram
  :javascript
    <!-- LightWidget WIDGET --><script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/4573d3a0f1815906a0082ab82ab77186.html" id="lightwidget_4573d3a0f1" name="lightwidget_4573d3a0f1"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>


.content-maps.mt-3
  .container
    .row
      %h3.header--underline Maps
      .maps--cards
        = render partial: 'maps/map', collection: @maps
