.card.background--third-hover
  %a.float-left.reviews--img-link.img--wrapper.pr-3{:href => "#"}
    = image_tag review.image, class: 'card-img-left'
  .card-block.p-2
    .reviews--title
      %h4.card-title.mb-0.t-2
        %span.badge.float-right{ class: badge_for_rating(review.rating) }
          = review.rating
          %i.fa.fa-spoon
        %a{:href => "#"}= review.title
      %p.lead.subtitle= review.location
    %p.card-text
      = review.preview
      %a.reviews--read-more.t-0{:href => "#"}
        Read Review
        %i.fa.fa-arrow-right
