= render layout: 'application/headers/post', locals: { img: @review.photo_poster } do
  - if @review.published_at > 2.weeks.ago
    %span.badge.badge-new.t-2 New
  %h2= @review.title
  %p.subtitle.lead
    Posted
    = time_ago_in_words @review.published_at
  %p= @review.description

.container.featured--after
  .row
    .col-md-12
      %ol.breadcrumb
        %li.breadcrumb-item.active Reviews

  .row
    .col-md-12
      %h1.header--underline All Reviews

  .row
    .col-md-9
      .cards
        = render @reviews

    .col-md-3
      .list-group
        %a.list-group-item{ href: '#' } News
        %a.list-group-item{ href: '#' } Events
